:root {
    /* margin-top: 20px; */
    background: white;
    font-family: PlayfairDisplay;
    color: black;
}

body {
    margin: 0;
}

button.add-task {
    border: 1px solid black;
    margin-top: 10px;
    padding: 5px;
    background: var(--pico-color-green-150);
}

div.container {
    padding: 0.5rem;
}

h1 {
    margin: 0;
    padding: 0.4rem;
    padding-bottom: 0;
    font-family: PlayfairDisplay;
    border-bottom: 1px solid black;
}

span.yo-accent {
    color: black;
}

article {
    display: flex;
    padding: 0.0rem;
    /* border-radius: 4px; */
    background: white;
    border: 1px solid black;
    margin: 10px 0;
    height: 2.2rem;
    width: 400px;
    /* overflow-y: hidden; */
}

article div.task-accent {
    flex-basis: 0px;
    transition: flex-basis 0.2s;
    background: var(--pico-color-yellow-150);
}

article:has(input:focus) {
    background: var(--pico-color-blue-50);
}

article:has(input:focus) div.task-accent {
    background: var(--pico-color-blue-150);
}

article.task-done {
    background: var(--pico-color-grey-50);
}

article.task-done div.task-accent {
    flex-basis: 12px;
    background: var(--pico-color-grey-150);
}

article.selected {
    background: var(--pico-color-yellow-50);
}


article.selected div.task-accent {
    flex-basis: 12px;
}

article input {
    flex: 1;
    margin: 0.2rem 0 0 0.3rem;
    padding: 0;
    border: none;
    height: 1.8rem;
    background: inherit;
    font-size: 1rem;
    font-family: PlayfairDisplay;
}

article input:focus {
    outline: none;
}


article input.task-done {
    text-decoration: line-through;
}


@font-face {
    font-display: block;
    font-family: PatrickHand;
    src: url("./assets/fonts/PatrickHand-Regular.ttf");
}


@font-face {
    font-display: block;
    font-family: ArchivoBlack;
    src: url("./assets/fonts/ArchivoBlack-Regular.ttf");
}

@font-face {
    font-display: block;
    font-family: PlayfairDisplay;
    src: url("./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}

.titlebar {
    height: 20px;
    background: transparent;
    /* border-bottom: 1px solid black; */
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .titlebar-button {
    display: inline-flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
  }
  .titlebar-button:hover {
    background: var(--pico-color-blue-150);
  }
