:root {
  /* Light mode */
  --lm-color-bg: white;
  --lm-color-primary: black;
  --lm-color-selected: var(--pico-color-yellow-50);
  --lm-color-selected-accent: var(--pico-color-yellow-150);
  --lm-color-focused: var(--pico-color-blue-50);
  --lm-color-focused-accent: var(--pico-color-blue-150);
  --lm-color-deleted: var(--pico-color-grey-50);
  --lm-color-deleted-accent: var(--pico-color-grey-150);

  /* Dark mode */
  --dm-color-bg: black;
  --dm-color-primary: white;
  --dm-color-selected: var(--pico-color-blue-850);
  --dm-color-selected-accent: var(--pico-color-blue-550);
  --dm-color-focused: var(--pico-color-purple-850);
  --dm-color-focused-accent: var(--pico-color-purple-550);
  --dm-color-deleted: var(--pico-color-grey-850);
  --dm-color-deleted-accent: var(--pico-color-grey-550);

  /* Color scheme */
  --color-bg: var(--lm-color-bg);
  --color-primary: var(--lm-color-primary);
  --color-selected: var(--lm-color-selected);
  --color-selected-accent: var(--lm-color-selected-accent);
  --color-focused: var(--lm-color-focused);
  --color-focused-accent: var(--lm-color-focused-accent);
  --color-deleted: var(--lm-color-deleted);
  --color-deleted-accent: var(--lm-color-deleted-accent);

  --font-main: ShantellSans;
  
  background: var(--color-bg);
  color: var(--color-primary);
  font-family: var(--font-main);
  background: transparent;
  /* overflow: scroll; */
  overflow: hidden;
  border: none;
}
:root::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
}

#App {
  margin-top: 28px;
}

/* .row { */
/*   display: flex; */
/* } */

/* .col { */
/*   flex: 1; */
/* } */

div.container {
  padding: 0.5rem;
}

h1 {
  margin: 0;
  text-align: right;
  /* margin-top: 14px; */
  padding: 0 0.6rem;
  /* font-size: 1.5rem; */
  /* border-bottom: 1px solid var(--color-primary); */
}

article {
  background: var(--color-bg);
  border: 1px solid var(--color-primary);
  display: flex;
  height: 2.2rem;
  margin: 10px 0;
  padding: 0.0rem;
  width: 400px;
  scroll-margin: 8px;
}

article div.task-accent {
  flex-basis: 0px;
  transition: flex-basis 0.2s;
  background: var(--color-selected-accent);
}

article input {
  flex: 1;
  width: 100%;
  margin: 0.2rem 0 0 0.2rem;
  padding: 0;
  border: none;
  height: 1.8rem;
  background: inherit;
  font-size: 1rem;
  font-family: var(--font-main);
  color: var(--color-primary);
}

article input:focus {
  outline: none;
}

article input.task-done {
  text-decoration: line-through;
}

article:has(input:focus) {
  background: var(--color-focused);
}

article:has(input:focus) div.task-accent {
  background: var(--color-focused-accent);
}

article.task-done {
  background: var(--color-deleted);
}

article.task-done div.task-accent {
  flex-basis: 12px;
  background: var(--color-deleted-accent);
}

article.selected {
  background: var(--color-selected);
}


article.selected div.task-accent {
  flex-basis: 12px;
}

.todo-title {
  display: flex;
  height: 1.4rem;
}

.todo-title .title-accent {
  margin-right: 0px;
  flex-basis: 0px;

  height: 100%;
  transition: all 0.2s;
  background: var(--color-selected-accent);
}

.todo-title .title-wrapper {
  flex: 1;
}

.todo-title.selected .title-accent {
  flex-basis: 12px;
  margin-right: 0.2rem;
}

.todo-title input {
  scroll-margin: 8px;
  width: 100%;
  background: var(--color-bg);
  color: var(--color-primary);
  font-size: 1rem;
  border: none;
  margin: 0;
  padding-bottom: 0;
  font-weight: normal;
  text-decoration: none;
  font-family: var(--font-main);
}

.todo-title:has(input:focus) .title-accent {
  background: var(--color-focused-accent);
}

.todo-title input:focus {
  outline: none;
}

.todo-title.done input {
  text-decoration: line-through;
}

.todo-lists {
  width: 100%;
  height: 100vh;
  overflow: auto;
  display: flex;
}

.todo-lists::-webkit-scrollbar {
  display: none;
}

.todo-lists .container {
  flex: 0 0 auto;
  width: 400px;
  /* scroll-snap-align: left; */
}

button.add-task {
  border: 1px solid var(--color-primary);
  margin-top: 10px;
  padding: 0.2rem;
  background: var(--color-bg);
  color: var(--color-fg);
}

button.add-task:hover {
  background: var(--color-selected-accent);
  cursor: pointer;
}

.usage-info {
  position: fixed;

  height: 140px;
  width: 100vw;

  bottom: 0px;
  transition: bottom 0.3s;

  margin: 0;
  border-top: 1px solid var(--color-primary);

  background: var(--color-bg);
  opacity: 0.9;

  font-size: 0.8rem;
}

.usage-info .help-trigger {
  background: var(--color-bg);
  border: 1px solid var(--color-primary);
  width: 28px;
  height: 14px;
  text-align: center;
  position: absolute;
  top: -16px;
  right: 6px;
  font-size: 12px;
  cursor: pointer;
}

.usage-info .content {
  padding: 0.4rem;
  max-width: 400px;
}

.usage-info.toggle-off {
  bottom: -140px;
}

.usage-info h3 {
  margin: 0.2rem 0.2rem;
}

.usage-info .row {
  display: flex;
}

.usage-info .col {
  flex-basis: 33%;
  display: flex;
  align-items: center;
}

.usage-info .keycap {
  background: var(--color-selected);
  border: 1px solid var(--color-primary);
  padding: 0.15rem;
  text-align: center;
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  font-size: 0.6rem;
  border-radius: 100%;
  text-align: center;
  margin: 2px 5px;
}
