:root {
  /* Light mode */
  --lm-color-bg: var(--pico-color-pink-250);
  --lm-color-primary: var(--pico-color-grey-850);
  --lm-color-passive: var(--pico-color-pink-150);
  --lm-color-selected: var(--pico-color-pink-50);
  --lm-color-selected-accent: var(--pico-color-grey-950);
  --lm-color-focused: var(--pico-color-green-50);
  --lm-color-focused-accent: var(--pico-color-green-650);
  --lm-color-deleted: var(--pico-color-pink-350);
  --lm-color-deleted-accent: var(--pico-color-pink-450);

  /* Dark mode */
  --dm-color-bg: black;
  --dm-color-primary: white;
  --dm-color-selected: var(--pico-color-blue-850);
  --dm-color-selected-accent: var(--pico-color-blue-550);
  --dm-color-focused: var(--pico-color-purple-850);
  --dm-color-focused-accent: var(--pico-color-purple-550);
  --dm-color-deleted: var(--pico-color-grey-850);
  --dm-color-deleted-accent: var(--pico-color-grey-550);

  /* Color scheme */
  --color-bg: var(--lm-color-bg);
  --color-primary: var(--lm-color-primary);
  --color-passive: var(--lm-color-passive);
  --color-selected: var(--lm-color-selected);
  --color-selected-accent: var(--lm-color-selected-accent);
  --color-focused: var(--lm-color-focused);
  --color-focused-accent: var(--lm-color-focused-accent);
  --color-deleted: var(--lm-color-deleted);
  --color-deleted-accent: var(--lm-color-deleted-accent);

  --font-main: ShantellSans;
  
  background: var(--color-bg);
  color: var(--color-primary);
  font-family: var(--font-main);
}

body {
  margin: 0;
  padding: 0;
}

div.container {
  padding: 0.5rem;
}

h1 {
  margin: 0;
  padding-left: 0.6rem;
  font-family: var(--font-main);
  font-size: 1.5rem;
  border-bottom: 1px solid var(--color-primary);
}

article {
  background: var(--color-passive);
  /* border: 1px solid var(--color-primary); */
  display: flex;
  height: 2.2rem;
  margin: 10px 0;
  padding: 0.0rem;
  width: 400px;
  border-radius: 1.1rem;
  overflow: hidden;
}

article div.task-accent {
  flex-basis: 0px;
  transition: flex-basis 0.2s;
  background: var(--color-selected-accent);
}

article input {
  flex: 1;
  width: 100%;
  margin: 0.2rem 0 0 0.6rem;
  padding: 0;
  border: none;
  height: 1.8rem;
  border-radius: 0.9rem;
  background: inherit;
  font-size: 1rem;
  font-family: var(--font-main);
  color: var(--color-primary);
}

article input:focus {
  outline: none;
}

article input.task-done {
  text-decoration: line-through;
}

article:has(input:focus) {
  background: var(--color-focused);
}

article:has(input:focus) div.task-accent {
  background: var(--color-focused-accent);
}

article.task-done {
  background: var(--color-deleted);
}

article.task-done div.task-accent {
  flex-basis: 12px;
  background: var(--color-deleted-accent);
}

article.selected {
  background: var(--color-selected);
}

article.selected div.task-accent {
  flex-basis: 12px;
}

.todo-title {
  display: flex;
  height: 1.4rem;
  overflow: hidden;
  border-radius: 0.7rem;
}

.todo-title input {
  background: var(--color-bg);
  color: var(--color-primary);
  font-size: 1rem;
  border: none;
  margin: 0;
  flex: 1;
  padding-bottom: 0;
  font-weight: normal;
  text-decoration: none;
  font-family: var(--font-main);
}

.todo-title .title-accent {
  flex-basis: 0px;
  width: 0px;
  height: 100%;
  margin-right: 0px;
  transition: all 0.2s;
  background: var(--color-selected-accent);
}

.todo-title.selected .title-accent {
  flex-basis: 12px;
  margin-right: 0.2rem;
  width: 12px;
}

.todo-title:has(input:focus) .title-accent {
  background: var(--color-focused-accent);
}

.todo-title input:focus {
  outline: none;
}

.todo-title.done {
  text-decoration: line-through;
}

.todo-title.selected {
}

.todo-lists {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  scroll-snap-type: x mandatory;
}

.todo-lists .container {
  flex: 0 0 auto;
  width: 400px;
  scroll-snap-align: left;
}

button.add-task {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 0.7rem;
  border: 1px solid var(--color-primary);
  margin-top: 10px;
  padding: 0.2rem;
  background: var(--color-primary);
  color: var(--color-passive);
}

button.add-task:hover {
  background: var(--color-selected-accent);
  cursor: pointer;
}
